/** https://materialui.co/colors/ */

// theme colors
$gray: #424242; // Grey800
$background:  #FFFDE7; // Yellow50
$success: #A5D6A7; // Green200
$error:  #FB8C00; // Orange600

// card colors
$red: #EF5350; // Red400
$blue: #42A5F5; // Blue400
$unknown: #EEEEEE; // Grey200

// controls
$margin: 4px;
$shadow: 0px 1px 2px 1px $gray;
